.cause-details {
  max-width: 1100px;
  margin: 40px auto;
}
.cause-detail-page {
  max-width: 1100px;
  margin: 40px auto;
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.cause-left {
  flex: 2;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
}

.cause-title {
  font-size: 35px;
  font-weight: bold;
}

.cause-text {
  font-size: 15px;
  line-height: 1.6;
  color: #444;
}
.donation-widget {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 320px;
  padding: 20px;
}

.progress-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: conic-gradient(#a6f77b 0% 95%, #e0e0e0 95% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.amount {
  font-size: 30px;
  font-weight: bold;
}

.goal {
  font-size: 25px;
  color: #888;
  margin-bottom: 10px;
}

.donations-count {
  color: #888;
  font-size: 14px;
  margin-bottom: 20px;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
  border: none;
  font-size: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn a {
  text-decoration: none;
  color: white;
}
.recent-donations {
  gap: 50px;
  color: #6a1b9a;
}
.btn-share {
  background-color: #cae0dc;
  color: #025848;
}
.btn-share:hover {
  background-color: #b2cac6;
}

.recent-donations h4 {
  font-size: 16px;
  margin: 20px 0;
}

.donor {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
}

.donor-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 20px;
}
.donation-progress-icon {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  background: #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 20px;
}

.donor-name {
  flex: 1;
}

.donor-amount {
  font-weight: bold;
}

.donation-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.donation-buttons button {
  width: 48%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 14px;
  background: #fff;
}
.donation-buttons button:hover {
  background-color: rgb(232, 232, 232);
}
.donations-progress {
  display: flex;
  align-items: center;
}

.cause-image {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  object-fit: cover;
}

.cause-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}
