.causes-container {
  max-width: 900px;
  margin: 70px auto;
  text-align: center;
}

.title {
  font-size: 65px;
  font-weight: 800;
  line-height: 1.1;
}

.subtitle {
  margin-top: 15px;
  font-size: 18px;
  color: #555;
}

.start-btn:hover {
  background: #245a33;
}

.categories {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.category {
  text-align: center;
}

.cause-box {
  width: 140px;
  height: 140px;
  background: #fafafa;
  border-radius: 10px;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
  margin-bottom: 10px;
}

.cause-box i {
  font-size: 45px;
  opacity: 0.9;
  color: black;
}

.category span {
  color: black;
  margin-top: 20px;
}

.cause-box:hover {
  border-color: #bfbfbf;
}

.category a {
  text-decoration: none;
}
.material-symbols-filled {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  font-size: 48px;
  color: #333;
}
