.contact-us {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact-container {
  padding: 50px 0;
}

.contact-inner {
  display: flex;
  gap: 30px;
}

.form-box {
  flex: 2;
  background-color: #ffffff;
  padding: 25px;
  border-radius: 10px;
}

.label-title {
  font-size: 14px;
  font-weight: bold;
  color: #ffc800;
  margin-bottom: 10px;
}

.form-box h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 18px;
}

.form-group label {
  display: block;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 6px;
  color: #555;
}

.form-input {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-color: #fff;
}

textarea.form-input {
  resize: none;
}

.send-btn {
  background-color: #d8a400;
  color: #ffffff;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.send-btn:hover {
  background-color: #bb9003;
}

.info-box {
  flex: 1;
  background-color: #01715d;
  color: #ffffff;
  border-radius: 15px;
  padding: 35px;
}

.info-box h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.info-box p {
  font-size: 14px;
  margin-bottom: 6px;
  opacity: 0.9;
}

.info-box hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}

.social-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-links a {
  width: 35px;
  height: 35px;
  background-color: #d8a400;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
}

.social-links a:hover {
  background-color: #bb9003;
}

.map-box {
  width: 100%;
  height: 400px;
  margin: 30px 0;
}

.map-box iframe {
  width: 100%;
  height: 100%;
  border: none;
}

span {
  color: #d8a400;
}
