.donate-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.donation-container {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15), 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 600px;
  padding: 25px 40px;
  border-radius: 30px;6);
}

.cause-title {
  font-size: 30px;
  margin-bottom: 5px;
  font-weight: 700;
  line-height: 1.1;
}

.subtitle {
  color: #555;
  margin-bottom: 20px;
}



.amount-box {
  display: flex;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.amount-box input {
  border: none;
  width: 100%;
  font-size: 60px;
  outline: none;
}

.payment-section {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  margin-bottom: 20px;
  margin-top: 10px;
}

.payment-section h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 600;
}


.payment-method{
  margin-bottom: 15px;
  gap: 10px;
  display: flex;
  align-items: center;
}


.card-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card-form input,
.card-form select {
  width: 100%;
  padding: 14px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 15px;
}

.card-form input:focus,
.card-form select:focus {
  border-color: black;
  outline: none;
  box-shadow: 0 0 0 3px rgba(49, 50, 52, 0.2);
}

.row {
  display: flex;
  gap: 12px;
}

.row input,
.row select {
  flex: 1;
}

.total {
  margin: 40px 0;
}

.total p {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.donate-btn {
  width: 100%;
  padding: 15px;
  background: #01715d;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
  font-weight: 600;
}

.donate-btn:hover {
  background: #025848;
}




@media screen and (max-width: 1024px) {
  .donation-container {
    width: 100%;
    padding: 25px 30px;
  }

  .cause-title {
    font-size: 28px;
    text-align: center;
  }

  .subtitle {
    font-size: 16px;
    text-align: center;
  }

  .amount-box {
    font-size: 50px;
    padding: 8px;
  }

  .amount-box input {
    font-size: 50px;
  }

  .card-form input,
  .card-form select {
    padding: 12px;
    font-size: 14px;
  }

  .row {
    flex-direction: column;
    gap: 10px;
  }

  .donate-btn {
    font-size: 16px;
    padding: 14px;
  }
  .donate-section{
    margin: 50px 40px;
  }
}

@media screen and (max-width: 768px) {
  .amount-title{
    font-size: 16px;
  }
  .payment-title{
    font-size: 16px;
  }
   .donate-section{
    margin: 50px 20px;
  }
  .donation-container {
    padding: 20px;
  }

  .cause-title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 14px;
  }

  .amount-box {
    font-size: 40px;
  }

  .amount-box input {
    font-size: 40px;
  }

  .card-form input,
  .card-form select {
    padding: 10px;
    font-size: 13px;
  }

  .row {
    flex-direction: column;
  }

  .payment-method {
    gap: 8px;
    font-size: 14px;
  }

  .donate-btn {
    font-size: 15px;
    padding: 12px;
  }
  .total{
    margin: 20px 0;
  }
  .total p{
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .donation-container {
    padding: 15px;
    border-radius: 20px;
  }

  .cause-title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 13px;
  }

  .amount-box {
    font-size: 35px;
  }

  .amount-box input {
    font-size: 35px;
  }

  .card-form input,
  .card-form select {
    padding: 8px;
    font-size: 12px;
  }

  .donate-btn {
    font-size: 14px;
    padding: 10px;
  }

  .amount-box span {
    font-size: 30px;
  }
}




