.container {
  padding: 0 50px;
}
.navbar {
  display: flex;
  padding-bottom: 10px;
  padding-top: 10px;
  justify-content: space-between;
  font-size: 18px;
  align-items: center;
}

.left-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.left-nav ul li a {
  text-decoration: none;
  color: black;
}

.left-nav ul li a:hover {
  color: #01715d;
}
.logo {
  width: 90px;
}
.logo img {
  width: 100%;
}

.footer-right {
  display: flex;
  gap: 10px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #01715d;
  color: white;
  background-color: #01715d;

  text-decoration: none;
}

.footer-right ul li {
  list-style: none;
}
.footer-right ul {
  display: flex;
  gap: 10px;
}

.footer {
  align-items: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(149, 146, 146);
}

.footer-copyright {
  text-align: center;
  padding: 20px;
  color: rgb(81, 79, 79);
}

.active {
  border-bottom: 2px solid #01715d;
}
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  z-index: 1001;
}

.hamburger i {
  color: black;
}

@media screen and (max-width: 768px) {
  footer {
    margin-top: 10px;
  }
  .container {
    padding: 0 20px;
  }
  .navbar {
    padding: 5px 0;
  }
  .logo {
    width: 70px;
  }
  .hamburger {
    display: block;
  }
  .hamburger {
    display: block;
  }

  #menu-item,
  #menu-item-right {
    display: none;
  }

  #menu-item.active,
  #menu-item-right.active {
    display: block;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 20px 0;
    z-index: 1000;
  }

  #menu-item ul {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  #menu-item-right {
    margin-top: 20px;
  }

  .footer {
    padding: 10px 0;
  }
  .footer-copyright {
    padding: 10px;
  }
  .footer-right ul {
    gap: 5px;
  }
}
