.container {
  padding: 0 50px;
}
.navbar {
  display: flex;
  padding-bottom: 30px;
  padding-top: 30px;
  justify-content: space-between;
  font-size: 20px;
  align-items: center;
}

.left-nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
.left-nav ul li a {
  text-decoration: none;
  color: black;
}

.left-nav ul li a:hover {
  color: #00664f;
}
.logo {
  width: 90px;
}
.logo img {
  width: 100%;
}

.footer-right {
  display: flex;
  gap: 10px;
}

.icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #00664f;
  color: white;
  background-color: #00664f;

  text-decoration: none;
}

.footer-right ul li {
  list-style: none;
}
.footer-right ul {
  display: flex;
  gap: 10px;
}

.footer {
  align-items: center;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(149, 146, 146);
}

.footer-copyright {
  text-align: center;
  padding: 20px;
  color: rgb(81, 79, 79);
}

.active {
  border-bottom: 2px solid #00664f;
}
