@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

.home-intro {
  background-color: #fcf6e9;
  padding: 40px 0;
}
.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.intro-pic {
  width: 50%;
}
.intro-pic img {
  width: 100%;
}
.intro-title {
  font-family: "DM Serif Display", serif;
  font-size: 80px;
  font-weight: 900;
  line-height: 1.05;
  color: #1a1a1a;
  margin-bottom: 30px;
}

.intro-description {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  margin-bottom: 30px;
  max-width: 450px;
}

.intro-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-watch {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #1a1a1a;
  font-weight: bold;
  transition: color 0.3s;
}

.btn-watch:hover {
  color: #01715d;
}

.play-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffc800;
  color: #1a1a1a;
  border-radius: 50%;
  font-size: 18px;
  margin-right: 10px;
  padding-left: 3px;
}

.statistics-section {
  background-color: #01715d;
  padding: 60px 0;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
  justify-items: center;
}
.stat-item {
  display: flex;
  text-align: center;
  gap: 25px;
  color: white;
  padding: 0 15px;
}

.stat-icon {
  font-size: 60px;
  margin-bottom: 10px;
}

.stat-icon i {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

.stat-number {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.2;
}

.stat-label {
  font-size: 20px;
  font-weight: 400;
  margin-top: 5px;
}

.last-section {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #01715d;
  height: 30vh;
  margin: 30px 0;
  align-items: center;
  padding: 70px;
  color: white;
}
.last-section h1 {
  font-size: 55px;
}

.btn-orange {
  background-color: #ff7a00;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.btn-orange:hover {
  background-color: #e06b00;
}

.causes-section {
  padding: 60px 0;
  background-color: #fefdf6;
}

.causes-header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: #333;
}

.navigation-arrows {
  margin-top: 20px;
  text-align: center;
}
.navigation-arrows .arrow-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #888;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navigation-arrows .arrow-btn:hover {
  background-color: #ffc107;
  color: white;
}

.causes-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.causes-list {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;

  padding-bottom: 20px;
  margin-bottom: -20px;
}
.cause-card {
  width: 400px;
  background-color: #f1ede1;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
}
.cause-card a {
  text-decoration: none;
}
.cause-card:hover {
  background-color: #e7e1cd;
}

.card-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
  line-height: 1.4;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  width: 45%;
  height: 200px;
  background-color: #f6cf87;
  margin: 10px;
  padding: 25px;
  border-radius: 15px;
  box-sizing: border-box;
}

.card img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.card h4 {
  margin: 10px 0;
}

.card span {
  font-size: 13px;
  font-weight: bold;
}

.progress-bar-container {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  height: 6px;
  margin-bottom: 10px;
}

.progress-bar {
  height: 100%;
  background-color: #ffc107;
  border-radius: 5px;
  transition: width 0.5s ease-in-out;
}

.fund-status {
  font-size: 14px;
  color: #333;
  font-weight: 600;
  display: inline-block;
}

.fund-status .goal {
  font-weight: 400;
  color: #999;
}

.percentage {
  font-size: 14px;
  color: #ffc107;
  font-weight: 600;
  float: right;
  margin-top: -10px;
}

.faq-section {
  margin-top: 40px;
  margin-bottom: 90px;
}

.faq-title {
  text-align: center;
  margin-bottom: 30px;
}

.faq-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.faq-list {
  width: 60%;
}

.faq-item {
  padding: 15px 0;
  border-bottom: 1px solid #ccc;
}

.faq-question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question p {
  margin: 0;
}

.faq-answer {
  display: none;
  margin-top: 10px;
  color: #555;
}

.faq-card {
  padding: 25px;
  background-color: #f1ede1;
  text-align: center;
  width: 400px;
  height: 100%;
  border-radius: 20px;

  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
}

.image {
  height: 50px;
  margin-bottom: 15px;
}
.faq-card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.faq-card h3 {
  font-size: 18px;
  margin-bottom: 20px;
}
.plus-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #01715d;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 30px;
}
.home-title {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.trust-section {
  text-align: center;
  margin: 110px 0;
}
.trust-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 35px 0;
}

.trust-card {
  border-radius: 15px;
  padding: 30px 20px;
  flex: 1;
  min-width: 250px;
  max-width: 280px;
  text-align: left;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1),
    box-shadow 0.4s cubic-bezier(0.25, 1, 0.5, 1), border-color 0.4s ease;
}

.trust-card:hover {
  transform: translateY(-10px);

  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12), 0 10px 20px rgba(0, 0, 0, 0.05);
}
.icon-circle {
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.trust-card h3 {
  font-size: 18px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 15px;
}

.trust-card p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}
.our-mission {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
}

.our-mission-container {
  max-width: 1200px;
  display: flex;
  gap: 60px;
  align-items: center;
  flex-wrap: wrap;
}

.our-mission-intro {
  flex: 1;
}

.our-mission-title {
  font-family: "DM Serif Display", serif;

  font-size: 48px;
  font-weight: 800;
  color: #1a1a1a;
  line-height: 1.1;
  margin-bottom: 25px;
}

.our-mission-description {
  font-size: 18px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 35px;
}

.btn-donate {
  background-color: #006b54;
  color: #fff;
  padding: 15px 35px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
}

.btn-donate:hover {
  background-color: #004d3d;
}
.our-mission-services {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.service-card {
  background-color: #f1ede1;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-icon {
  object-fit: contain;

  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.service-title {
  margin-top: 25px;
  font-size: 18px;
  color: #1a1a1a;
}

.service-icon-container {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* Pjesa mee stepss*/
.steps-section {
  padding: 80px 20px;
  text-align: center;
  background-color: #f1ede1;
}

.steps-header {
  margin-bottom: 60px;
}

.main-title {
  font-size: 32px;
  color: #1a1a1a;
  margin-bottom: 12px;
  font-weight: 700;
}

.main-subtitle {
  color: #666;
  font-size: 17px;
  max-width: 700px;
  margin: 0 auto;
}

.steps-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.step-item {
  flex: 1;
  position: relative;
  padding: 0 15px;
}

.step-circle {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border: 2px solid #26b99a;
  color: #26b99a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 25px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

.step-item:not(:last-child):after {
  content: "";
  position: absolute;
  top: 30px;
  left: 60%;
  width: 80%;
  border-top: 2px dashed #d1d1d1;
  z-index: 1;
}

.step-title {
  font-size: 19px;
  color: #222;
  margin-bottom: 15px;
  font-weight: 600;
}

.step-text {
  font-size: 14.5px;
  color: #555;
  line-height: 1.6;
}

@media (max-width: 1200px) {
  .intro {
    flex-direction: column-reverse;
    text-align: center;
  }
  .intro-pic {
    width: 90%;
    margin-bottom: 30px;
  }
  .intro-actions {
    justify-content: center;
    flex-wrap: wrap;
  }
  .container {
    padding: 0 10px;
  }
  .intro-title {
    font-size: 40px;
  }
}

@media (max-width: 900px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .main-title {
    font-size: 20px;
  }
  .home-title {
    font-size: 20px;
    margin: 0;
  }
  .our-mission-title {
    font-size: 30px;
  }
  .our-mission {
    padding: 30px 20px;
  }
  .statistics-section {
    padding: 30px 0;
  }
  .stats-grid {
    gap: 50px;

    grid-template-columns: 1fr;
  }
  .stat-number {
    font-size: 25px;
  }
  .stat-label {
    font-size: 20px;
  }
  .stat-item {
    flex-direction: column;
    gap: 0;
  }
  .stat-icon {
    font-size: 50px;
  }
}

@media (max-width: 900px) {
  .our-mission-container {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .our-mission-services {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 900px) {
  .steps-container {
    flex-direction: column;
    gap: 30px;
  }
  .step-item:not(:last-child):after {
    display: none;
  }
}
@media (max-width: 1000px) {
  .cause-card {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .cause-card {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .trust-cards {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 900px) {
  .faq-content {
    flex-direction: column;
  }
  .faq-list {
    width: 100%;
  }
  .faq-card {
    width: 100%;
    margin-top: 30px;
  }
}

@media (max-width: 800px) {
  .btn-green {
    padding: 10px 20px;
    font-size: 12px;
  }
  .service-title {
    font-size: 15px;
  }
  .service-card {
    padding: 20px 30px;
  }
  .btn-yellow {
    padding: 10px 20px;
    font-size: 12px;
    margin-top: 10px;
  }
  .last-section {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 20px;
  }
  .last-section h1 {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
