@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
* {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
