@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fcf6e9;
}
.btn-green {
  border: 1px solid#01715d;
  background-color: #01715d;
  border-radius: 30px;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 9px 25px;
  text-decoration: none;
  cursor: pointer;
}
.btn-green:hover {
  background-color: #025848;
}
.btn-yellow {
  border-radius: 30px;
  color: #222222;
  font-size: 15px;
  font-weight: bold;
  padding: 12px 25px;
  text-decoration: none;
  background-color: #d8a400;
}

.btn-yellow:hover {
  border: 1px solid #bb9003;
  background-color: #bb9003;
}

.main-banner {
  height: calc(100vh - 250px);
}

.result {
  visibility: hidden;
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
.amount-result {
  visibility: hidden;
  color: red;
  margin-bottom: 10px;
  text-align: center;
}
.start-btn {
  margin-top: 25px;
  background: #01715d;
  color: white;
  padding: 12px 26px;
  font-size: 17px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
}

.start-btn:hover {
  background-color: #025848;
}

.btn-white {
  border: 1px solid white;
  text-decoration: none;
  color: white;
  padding: 9px 25px;
  border-radius: 30px;
}
